<nav class="navbar navbar-default site-header">
    <div class="container overflow">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false"
                    class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a href="/" class="navbar-brand">
                <img src="static/img/logo.png" width="73" height="73">
            </a>
        </div>
        <div id="navigation" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-center">
                <li><a href="/" class="active">首页</a></li>
                <li><a href="/who-we-are" class="">我们是谁</a></li>
                <li><a href="/success-stories" class="">解决方案</a></li>
                <li><a href="/how-it-works" class="">如何使用</a></li>
                <li><a href="/join-us" class="">加入我们</a></li>
                <li class="visible-xs-inline visible-sm-inline"><a href="/user/login">登录</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">

                <!--登录注册按钮-->
                <li class="login"><a href="/goLogin">登录</a></li>
            </ul>
        </div>
    </div>
</nav>
<br/><br/>
<div class="container">
    <div class="row">
        $field_header
    </div>
    <br/>
    <div class="row">
        <div class="col-md-8">
            <a>用户名</a>
            时间
        </div>
        <div class="col-md-8">
            <p>提交您的项目创意，将由专业项目经理与您一对一沟通，并组建精英团队，项目过程透明可跟踪，帮您快速完成产品</p>
        </div>
    </div>
</div>
</body>