<?xml version="1.0" encoding="UTF-8"?>
<data>
	<css>
		css/bootstrap.css;
			css/base.css;
	</css>
	<css-once  page='upgrade'>css/upgrade.css</css-once>
	<js>
	js/jquery.js;
	js/underscore-min.js;
	js/jquery.alertify.js;
	js/base.js;
	</js>
	<js-once page='upgrade'>js/upgrade.js</js-once>
	<js-once page='upgrade2'>js/upgrade2.js</js-once>

	<layerout id="homepage">layerout/homepage.dat</layerout>
	<database>
		<db-name>easyjava</db-name>
		<db-user>odoo</db-user>
		<db-pwd>odoo</db-pwd>
	</database>
</data>